# Data files
/data/raw/jtd/
/data/raw/pijama/
/data/raw/jja/
/data/raw/pianist8/
/data/raw/bushgrafts/

# Project sources
/.idea/
/.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
mlruns/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
venv/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
_docssrc/

# PyBuilder
target/

# DotEnv configuration
.env

# Database
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# Mac OS-specific storage files
.DS_Store

# vim
*.swp
*.swo

# R files
*.R

# Mypy cache
.mypy_cache/

# exclude deprecated folder from source control
/_deprecated/

# Output files
*.m4a
*.wav
*.flac
*.mp4
*.pds
*.p
*.reapeaks
*.csv
*.gif
*.mid
*.zip
*.json
*.png
*.npy
*.pth
*.pt
*.html
*.pdf
*.svg

# Exclude blindfold tests
/data/blindfold_tests/*.txt