numpy<2.0.0
torch
loguru
requests
black
thefuzz
tqdm
deepdiff
pandas
matplotlib
seaborn
miditok
transformers
coverage
pyyaml
scikit-learn
mlflow
symusic
joblib
openai
dotenv
pydantic
lxml
pretty-midi
torchmetrics
muspy
gdown
gymnasium