numpy<2.0.0
torch
loguru
requests
black
thefuzz
tqdm
deepdiff
pandas
matplotlib
seaborn
miditok==3.0.5.post1
transformers
coverage
pyyaml
scikit-learn
mlflow
symusic==0.5.6
joblib
openai
dotenv
pydantic
lxml
pretty-midi
torchmetrics
muspy
gdown
gymnasium